/* .hero-btn {
  background-color: #F6D88C;
  border: none;
  box-sizing: border-box;
  border-radius: 16px;
  outline: none;
}

.hero-btn:hover {
  background-color: hsl(135, 85%, 76%);
  border-radius: 100px;
  font-size: 25px;
}

.hero-btn:focus{
  background-color: rgb(141, 88, 50);
  border-radius: 5px;
}


.hero-title:hover{
  color: red;
  font-size: 25px;
}

.navigation-link:active{
  color: aqua;
} */

:root {
  --primary-color: #181817;
  --secondary-color: #6F6F6F; 
  --accent-color: #F6D88C; 
  --common-color: #F8F3EC;  
  --main-font:'Darker Grotesque', sans-serif;
  --title-size: 65px;
  --text-size: 22px;
}

*{
  margin: 0;
  padding: 0;
}

.header {
  width: 1440px;
  margin: 0 auto;
}

.wrapper{
  background: #F8F3EC;
}
