/* .hero-btn {
  background-color: #F6D88C;
  border: none;
  box-sizing: border-box;
  border-radius: 16px;
  outline: none;
}

.hero-btn:hover {
  background-color: hsl(135, 85%, 76%);
  border-radius: 100px;
  font-size: 25px;
}

.hero-btn:focus{
  background-color: rgb(141, 88, 50);
  border-radius: 5px;
}


.hero-title:hover{
  color: red;
  font-size: 25px;
}

.navigation-link:active{
  color: aqua;
} */

:root {
  --primary-color: #181817;
  --secondary-color: #6F6F6F; 
  --accent-color: #F6D88C; 
  --common-color: #F8F3EC;  
  --main-font:'Darker Grotesque', sans-serif;
  --title-size: 65px;
  --text-size: 22px;
}



.header {
  width: 1440px;
  margin: 0 auto;
  padding: 16px 55px 45px;
}

.wrapper{
  background: #F8F3EC;
}

.list {
  list-style: none;

}

.navigation-link{
  color: var(--secondary-color);
  text-decoration: none;
}

.navigation{
  font-family: var(--main-font);
  font-size: var(--text-size);
}
